.cp{
	background-color:lightblue;
}
}.stats{
	color:green;
	width:300px;
	height:90px;

}
.juo{
	border-top-width:2px;
	border-top-color:green;
	border-bottom-width:2px;
	position: absolute;
	border-bottom-color:green;
	background-color: lightblue;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-color:green;
	border-left-width:2px;
	border-left-style: solid;
	border-right-color:green;
	border-right-width:2px;
	border-right-style: solid;	
}
.asdasd{
	top:120px;
		border-top-width:2px;
	border-top-color:green;
	border-bottom-width:2px;
	position: absolute;
	border-bottom-color:green;
	background-color: lightblue;
	border-bottom-style: solid;
	border-top-style: solid;
	border-left-color:green;
	border-left-width:2px;
	border-left-style: solid;
	border-right-color:green;
	border-right-width:2px;
	border-right-style: solid;	
}